<!-- wp:template-part {"slug":"header","theme":"rt-education-school","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:cover {"customOverlayColor":"#2AAA94","minHeight":100,"contentPosition":"center center","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"fontSize":"content-heading"} -->
<div class="wp-block-cover alignfull is-light has-content-heading-font-size" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#2AAA94"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"background","fontSize":"content-heading"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","padding":{"top":"60px","bottom":"60px"}}},"backgroundColor":"background","className":"wp-block-group alignfull","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull has-background-background-color has-background" style="padding-top:60px;padding-bottom:60px"><!-- wp:template-part {"slug":"page-content","theme":"rt-education-school","area":"uncategorized","align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"rt-education-school","tagName":"footer"} /-->