<!-- wp:template-part {"slug":"header","theme":"rt-education-school","tagName":"header"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":"100%"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"accent","className":"wp-block-group alignfull","layout":{"type":"constrained","contentSize":"50%"}} -->
<main class="wp-block-group alignfull has-accent-background-color has-background" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:query-title {"type":"search","textAlign":"center","textColor":"background"} /-->

<!-- wp:search {"label":"","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside","align":"center","backgroundColor":"fourground","textColor":"primary"} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"rt-education-school/search"} /-->

<!-- wp:template-part {"slug":"footer","theme":"rt-education-school","tagName":"footer"} /-->